bremersee-comparator/src/main/resources/bremersee-comparator-v1.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://bremersee.org/xmlschemas/comparator/v1" xmlns:tns="http://bremersee.org/xmlschemas/comparator/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="comparatorItem" type="tns:comparatorItemType"/>

  <xs:complexType name="comparatorItemType">
    <xs:sequence>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="asc" type="xs:boolean" default="true"/>
      <xs:element name="nextComparatorItem" type="tns:comparatorItemType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
